body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 20px 40px 0 40px;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    margin-bottom: 20px;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 60px;
}

.main-text {
    text-indent: 3em;
    margin-top: 60px;
}

.location {
    text-align: right;
    margin-top: 80px;
}

.signature-margin {
    margin-top: 50px;
}

.signature {
    text-align: center;
}